.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adress__tittle{
    margin: 6rem 0 2.5rem 0.75rem;
}
.adress__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.adress__info{
    padding: 0 1.5rem;
    margin-top: 0;
}