.cta{
    display: inline-block;
    padding: 0.75rem 3rem 0.75rem 3rem;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--title-font-size);
    font-family: var(--tittle-font) ;
    font-weight: var(--title-font-weight) ;
    line-height: var(--title-line-height);
    font-style: normal;
    text-decoration: none;
}
.cta:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.188rem;
}