@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap'); /*Permet de lier des polices*/

@import 'modules/appBar.css'; /*Permet de lier les fichiers dans "modules"*/
@import 'pages/home.css';
@import 'modules/cta.css';
@import 'modules/banner.css';
@import 'modules/footer.css';
@import 'modules/contact.css';

:root { /*Design System = ce qui va rendre commun*/
    /*palette de couleur*/
    --red-highlight: #D2483D; 
    --light-grey: #F3F3F3;
    --black: #000000;
    --white: #FFFFFF;

    /*style de la police*/
    --body-font: 'Montserrat';
    --body-highlight-font: 'Montserrat';
    --header-font: 'Bebas Neue';
    --title-font: 'Bebas Neue';

    --body-font-weight: 400;
    --body-highlight-font-weight: 600;
    --header-font-weight: 400;
    --title-font-weight: 400;

    --body-font-size: 1.25rem;
    --body-highlight-font-size: 1.25rem;
    --header-font-size: 4.5rem;
    --title-font-size: 1.5rem;

    --body-line-height: 1.5rem;
    --body-highlight-line-height: 1.5rem;
    --header-line-height: 5.375rem;
    --title-line-height: 1.75rem;
}

/*Commencer par les éléments globaux, ceux qui auront le même style qq soit la page*/
body{
    background-color: var(--light-grey); /*c'est comme ça qu'on appelle la couleur*/
    font-family: var(--body-font);
    font-style: normal;
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--black);
}

h1{
    font-family: var(--header-font);
    font-style: normal;
    font-weight: var(--header-font-weight);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--black);
}

h2{
    font-family: var(--title-font);
    font-style: normal;
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--black);
    text-decoration: underline var(--red-highlight); /*on vient d'ajouter la déco, ici le soulignement*/
    text-underline-offset: 0.25rem; /*écart entre texte et soulignement / zoomer proche de la maquette et compter le nombre de carreaux. 
    Ce sont les pixels. Reste à convertir en REM.*/
    text-decoration-thickness: 0.188rem; /*épaisseur du soulignement*/
}

.color-highlight {
    color: var(--red-highlight);
}

/*Ca y est ! Les règles générales sont appliquées (le Design System), maintenant on s'attaque aux modules ! 
(=Un module est un bloc standardisé qui peut être utilisé à plusieurs endroits et dans plusieurs contextes. 
En général, les codes que je copie/colle d'une page à l'autre : cta, header, footer, contact)
-> VOIR appBAR.css*/